<!DOCTYPE html>
<html lang="en">
@@include("../blocks/modules/header/head.html")

<body>

    <!-- begin of page -->
    <div class="wrapper">
        <!-- begin of top banner a1-->
        <div class="banner a1"></div>
        <!-- end of top banner a1-->

        <!-- begin of header -->
        @@include("../blocks/modules/header/header.html")
        <!-- end of header -->

        <!-- begin of main -->
        <main class="main page-text">

            <!-- breadcrumbs module -->
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")

            <!-- text page -->
            <div class="page-text-wrap limiter">
                <h1 class="page-text__title">Cooperación</h1>
                <div class="page-text__content">
                    <p>Auto28 invita a la cooperación mutuamente beneficiosa a largo plazo de los concesionarios y los talleres de coches. Trabajamos honestamente y abiertamente, especificamos los precios de los servicios con IVA y sin recargos ocultos</p>
                    <div class="page-text__content-column">
                        <div class="page-text__content-block">
                            <div class="page-text__content-block__title">Cooperación para concesionarios</div>
                            <div class="page-text__content-block__content">
                                <p>
                                    Invitamos a la cooperación de los concesionarios. Vender cualquier vehículo de forma rápida y profesional con auto28.es. Regístrese ahora como concesionario y se abrirán nuevas características para su, así como una funcionalidad completa en su cuenta
                                    personal. Para registrarse y más información, vaya a la sección de <a href="#">para concesionarios.</a>
                                </p>
                                <p>Todos los precios en el sitio y en el área personal se indican con IVA.</p>
                            </div>
                            <div class="page-text__content-block__subtitle">¿Quieres ver la presentación? </div>
                            <div class="page-text__content-block__btn">
                                <a href="#" class="def-btn">Por supuesto</a>
                            </div>
                        </div>
                        <div class="page-text__content-fig">
                            <div class="page-text__content-fig__title">Mira los Concesionarios que ya están con nosotros</div>
                            <a href="#" class="page-text__content-fig__btn def-btn def-btn--gray">Concesionarios</a>
                        </div>
                    </div>
                    <div class="page-text__content-column">
                        <div class="page-text__content-block">
                            <div class="page-text__content-block__title">Cooperación para talleres de coches</div>
                            <div class="page-text__content-block__content">
                                <p>
                                    Invitamos a la cooperación de los concesionarios. Vender cualquier vehículo de forma rápida y profesional con auto28.es. Regístrese ahora como concesionario y se abrirán nuevas características para su, así como una funcionalidad completa en su cuenta
                                    personal. Para registrarse y más información, vaya a la sección de <a href="#">para concesionarios.</a>
                                </p>
                                <p>Todos los precios en el sitio y en el área personal se indican con IVA.</p>
                            </div>
                            <div class="page-text__content-block__subtitle">¿Quieres ver la presentación? </div>
                            <div class="page-text__content-block__btn">
                                <a href="#" class="def-btn">Por supuesto</a>
                            </div>
                        </div>
                        <div class="page-text__content-fig">
                            <div class="page-text__content-fig__title">Mira los Talleres de coches que ya están con nosotros</div>
                            <a href="#" class="page-text__content-fig__btn def-btn def-btn--gray">Talleres de coches</a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!-- end of main -->

        <!-- begin of footer -->
        @@include("../blocks/modules/footer/footer.html")
        <!-- end of footer -->

    </div>
    <!-- end of page -->

    <!-- begin of modals -->
    @@include("../blocks/modules/modals/modals.html")
    <!-- end of modals -->


    <!-- connecting scripts -->
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>

</body>

</html>