.filter.search-filter {
    .filter-main {
        padding: 20px;
        border-radius: 12px;
    }
    .filter-controls {
        display: none;
    }
    form {
        display: flex;
        flex-wrap: wrap;
    }
    .filter-tab__checks {
        width: 100%;
        @media (max-width: 961px) {
            display: flex;
        }
    }
    .filter-tab-rows {
        width: calc(100% - 150px);
        @media (max-width: 520px) {
            width: calc(100% - 70px);
        }
    }
    .filter-manage {
        width: 100%;
        margin-top: auto;
        width: 140px;
        margin-left: 10px;
        @media (max-width: 520px) {
            width: 60px;
        }
        button {
            justify-content: center;
            width: 100%;
            margin-top: 0!important;
            @media (max-width: 520px) {
                padding: 0;
            }
            svg {
                display: none;
                @media (max-width: 520px) {
                    display: block;
                }
            }
            span {
                @media (max-width: 520px) {
                    display: none;
                }
            }
        }
    }
}

.category-filter .filter.tabs.search-filter {
    @media (max-width: 961px) {
        display: block !important;
    }
}

.footer {
    margin-top: 0 !important;
}

.legacy-isolated {
    .dealerSalon {
        .accountAdvertFunctions.right {
            .accountAdvertFunction {
                width: 50%;
                >button {
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
    .mapListItemImageSrc img {
        @media (max-width: 630px) {
            width: unset !important;
        }
    }
    .rateButtons {
        @media (max-width: 430px) {
            .rateActiveTime, svg {
                display: none;
            }
            .buttonServicePrice {
                white-space: nowrap;
                padding-left: 5px;
            }
        }
    }
    .modal .accountSettingsFormBlock .formParemetersItem .formParameter {
        margin-right: 0;
    }
    .mapServiceLogo {
        margin-top: 15px;
    }
    .advertSliderMainFoto #serviceSlider button {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .serviceInfo {
        height: calc(100vh - 155px) !important;
        overflow: hidden;
        @media (max-width: 1650px) {
            height: calc(100vh - 115px) !important;
        }
        @media (max-width: 992px) {
            height: unset !important;
        }
    }
    .mapServiceFotos.advertSliderMainFoto {
        @media (max-height: 992px) {
            max-height: 350px;
        }
    }
    .dealersContainer {
        max-height: calc(100vh - 155px);
        overflow: hidden;
        margin-top: 0 !important;
        -webkit-transform: 0 !important;
        transform: translateY(0) !important;
        @media (max-width: 1650px) {
            max-height: calc(100vh - 115px);
        }
        @media (max-width: 992px) {
            max-height: unset !important;
        }
        .mapListItems {
            height: calc(100vh - 258px) !important;
            @media (max-width: 992px) {
                height: unset !important;
            }
        }
    }
    .pb3.accountBlockHeader {
        @media (max-width: 992px) {
            padding-bottom: 0;
        }
    }
    .accountAdverts {
        @media (max-width: 992px) {
            margin-bottom: 20px;
        }
    }
    .dealersContainer:not(.servicesContainerCorrect) {
        .mapListItems {
            height: calc(100vh - 332px) !important;
            @media (max-width: 1650px) {
                height: calc(100vh - 292px) !important;
            }
            @media (max-width: 992px) {
                height: unset !important;
            }
        }
    }
    .dealerPageDescriptionLinks {
        margin-top: 10px;
    }
    .dealerPageDescriptionText {
        padding-bottom: 10px;
    }
    .workdays {
        @media (max-width: 1280px) {
            display: flex !important;
            flex-wrap: wrap !important;
        }
    }
    .accountConversationMessageText {
        word-break: break-word;
        hyphens: auto;
    }
    .paymentsMethodsBlock.billBlock {
        padding-left: 20px;
        padding-right: 20px;
    }
    .reviewRulesBlock {
        @media (max-width: 992px) {
            margin-top: 20px;
        }
    }
    .paymentsMethodsBlock.billBlock .paymentsMethodsBlockBill {
        @media (max-width: 1200px) {
            .paymentsMethodsBlockBillHeader {
                .paymentsMethodsBlockBillHeaderNumber {
                    font-size: 20px;
                }
                .paymentsMethodsBlockBillHeaderDate {
                    font-size: 20px;
                    padding: 0 5px;
                }
                .paymentsMethodsBlockBillHeaderPrice {
                    font-size: 20px;
                    width: 100%;
                    span {
                        font-size: 20px;
                    }
                }
            }
            .payemtsMethodsBlockBillLinksPdf a {
                font-size: 18px;
            }
        }
        @media (max-width: 550px) {
            padding: 20px;
            .paymentsMethodsBlockBillHeader {
                flex-direction: column;
                align-items: flex-start;
                .paymentsMethodsBlockBillHeaderNumber {
                    margin-bottom: 2px;
                    font-size: 16px;
                }
                .paymentsMethodsBlockBillHeaderDate {
                    line-height: 18px;
                    font-size: 16px;
                }
                .paymentsMethodsBlockBillHeaderPrice {
                    font-size: 16px;
                    line-height: 18px;
                    span {
                        font-size: 20px;
                    }
                }
            }
            .payemtsMethodsBlockBillLinksPdf a {
                font-size: 16px;
            }
            .paymentsMethodsBlockBillLinks {
                flex-direction: column;
                align-items: center;
                .accountMessageFormButtons {
                    width: 100%;
                    margin-bottom: 10px;
                    max-width: 270px;
                }
            }
        }
    }
    .dealerPageInner .advertIcons ul li,
    .dealerPageInner-pseudo .advertIcons ul li {
        padding-right: 10px !important;
        &:last-child {
            padding-right: 0 !important;
        }
    }
    .dealerPageHeaderUserInfoAutos {
        @media (max-width: 992px) {
            gap: unset !important;
            >a {
                margin-right: 15px !important;
                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }
    }
}

.cityCodeBlock {
    position: relative;
}

.codesListBlock {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background: #fff;
    z-index: 1;
    max-height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    margin-left: -1px;
    margin-right: -1px;
    border: 1px solid #EB840B;
    border-top: none;
    font-family: "GothamProRegular", sans-serif;
    color: #494949;
    font-size: 1.3rem;
    line-height: 100%;
}

.bannerDesktopView {
    @media (max-width: 992px) {
        display: none !important;
    }
}

.advertSliderMainFoto .owl-stage {
    display: flex;
    align-items: center;
}

.legacy-isolated #productModalSlider.owl-carousel .owl-item img {
    max-height: calc(100vh - 140px) !important;
}

.legacy-isolated #productModalSlider {
    max-height: calc(100vh - 140px) !important;
}

.productNoteFormContainer {
    position: relative;
    z-index: 1;
    margin-right: -10px;
    width: calc(100% + 10px);
    @media (max-width: 1280px) {
        margin-right: 0;
        width: 100%;
    }
    .productNoteForm {
        display: none;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
        padding: 10px;
        background-color: #e7e7e7;
        &.is-opened {
            display: flex;
        }
        @media (max-width: 1280px) {
            flex-wrap: wrap;
        }
        >svg {
            width: 25px;
            height: unset;
            margin: 0 10px;
            @media (max-width: 1280px) {
                display: none;
            }
        }
        textarea {
            width: calc(100% - 205px);
            margin-right: 15px;
            min-height: 50px;
            background: $white;
            border: 1px solid #AAAAAA;
            box-sizing: border-box;
            border-radius: 2px;
            font-size: 13px;
            padding: 10px;
            transition: border-color $trans;
            resize: none;
            @media (max-width: 1280px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
                min-height: 70px;
            }
            &:focus {
                outline: none;
                border-color: $orange;
                transition: border-color $trans;
            }
        }
        .cookieAlertButton {
            @media (max-width: 1280px) {
                width: 100%;
            }
            button {
                width: 145px;
                @media (max-width: 1280px) {
                    width: 100%;
                }
            }
        }
    }
    .productNoteText {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        &.is-hidden {
            display: none;
        }
        @media (max-width: 1280px) {
            position: relative;
        }
        >svg {
            width: 25px;
            height: unset;
            margin-right: 20px;
            @media (max-width: 1280px) {
                display: none;
            }
        }
        .productNoteTextInner {
            padding: 20px;
            flex-grow: 1;
            background-color: antiquewhite;
            word-break: break-word;
            hyphens: auto;
            @media (max-width: 1280px) {
                padding: 15px 45px 15px 10px;
            }
        }
        button {
            margin-left: 20px;
            @media (max-width: 1280px) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 0;
                padding: 0;
                right: 10px;
                height: 26px;
            }
        }
    }
}

.is-grid .productNoteFormContainer {
    margin-right: 0;
    width: 100%;
    .productNoteForm {
        flex-wrap: wrap;
        svg {
            display: none;
        }
        textarea {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
            min-height: 60px;
        }
        .cookieAlertButton {
            width: 100%;
            button {
                width: 100%;
            }
        }
    }
    .productNoteText {
        position: relative;
        >svg {
            display: none;
        }
        >button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 0;
            padding: 0;
            right: 10px;
            height: 26px;
        }
        .productNoteTextInner {
            padding-right: 45px;
        }
    }
}

.inputMessage {
    display: none;
    font-size: 13px;
    color: red;
    line-height: 15px;
    margin-top: 5px;
}

.product {
    .productNoteFormContainer {
        position: relative;
        z-index: 1;
        margin-top: 20px;
        width: 100%;
        margin-right: 0;
        @media (max-width: 550px) {
            margin-top: 0;
        }
        .productNoteForm {
            display: none;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            padding: 10px;
            background-color: #e7e7e7;
            flex-wrap: wrap;
            &.is-opened {
                display: flex;
            }
            >svg {
                display: none;
            }
            textarea {
                background: $white;
                border: 1px solid #AAAAAA;
                box-sizing: border-box;
                border-radius: 2px;
                font-size: 13px;
                padding: 10px;
                transition: border-color $trans;
                resize: none;
                width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
                min-height: 70px;
                &:focus {
                    outline: none;
                    border-color: $orange;
                    transition: border-color $trans;
                }
            }
            .cookieAlertButton {
                width: 100%;
                max-width: 340px;
                margin: 0 auto;
                button {
                    width: 100%;
                }
            }
        }
        .productNoteText {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            &.is-hidden {
                display: none;
            }
            >svg {
                display: none;
            }
            .productNoteTextInner {
                padding: 15px 45px 15px 10px;
                flex-grow: 1;
                background-color: antiquewhite;
                word-break: break-word;
                hyphens: auto;
            }
            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 0;
                padding: 0;
                right: 10px;
                height: 26px;
            }
        }
    }
}

.swiper-slide .card-manage {
    display: none !important;
}

@media (max-width: 1400px) and (min-width: 1361px) {
    .legacy-isolated .dealerPageImages {
        right: calc((100vw - 1254px) / 2 + 20px) !important;
    }
}

.mapListItemInfoText {
    >a {
        transition: opacity $trans;
        &:hover {
            text-decoration: underline;
            opacity: .7;
            transition: opacity $trans;
        }
    }
}

.x7236fhs92 {
    @media (max-width: 992px) {
        padding-top: 10px;
    }
}

#addDealerSalonPhoneModal {
    @media (max-width: 1280px) {
        position: static !important;
    }
}

// years dropdown
.yearsOlder a {
    font-weight: normal;
    color: #494949;
    font-size: 16px;
    line-height: 22px;
}

.yearsOlder a:hover,
.yearsOlder a:focus {
    text-decoration: none;
    background: none;
}

.yearsOlder {
    position: relative;
    @media (max-width: 1450px) {
        display: none !important;
    }
}

.yearsOlderItems {
    position: absolute;
    top: 100%;
    left: 8px;
    background: #fff;
    z-index: 9;
}

.yearsOlderItem {
    position: relative;
}

.advertFiltersItemValue .yearsOlderItem a {
    font-weight: normal;
    color: #222B2A;
    font-size: rem(16);
    line-height: 2;
    display: block;
    text-align: center;
    padding: 3px 16px;
    border-radius: 0;
}

.yearsOlderItem a:hover,
.yearsOlderItem a:focus {
    text-decoration: none;
    background: #F5AA01;
}

.yearsOlderItems {
    display: none;
    max-height: 290px;
    overflow-y: scroll;
    box-shadow: 0px 5px 32px rgba(0, 0, 0, 0.19);
}

.yearsOlder .olderBloakcTrigger {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    svg {
        margin-left: 10px !important;
    }
}

.yearsOlder .olderBloakcTrigger.is-active {
    font-weight: normal;
    color: #222B2A;
    font-size: rem(22);
    background: #F5AA01;
    padding: 3px 8px;
    border-radius: 3px;
}

.yearsOlder .yearsOlderItem a {
    color: #222B2A;
    font-size: rem(16);
    line-height: 2;
    display: block;
    text-align: center;
    padding: 3px 16px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.add-row-item__content.add-photo {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin-top: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: flex-start;
}

@media (max-width: 943px) {
    .add-row-item__content.add-photo {
        justify-content: space-between;
        padding: 30px 0;
    }
}

@media (max-width: 630px) {
    .add-row-item__content.add-photo {
        display: flex;
        justify-content: unset;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px 0;
    }
    .add-row-item__content.add-photo .dz-preview {
        margin-right: 0;
    }
}

@media (max-width: 400px) {
    .add-row-item__content.add-photo .dz-preview {
        width: calc(100% - 20px);
    }
    .add-row-item__content.add-photo .dz-preview img {
        width: 100%;
        max-width: 100%;
        border-radius: 5px;
    }
    .add-row-item__content.add-photo .addFotoIcon {
        width: calc(100% - 20px);
        margin: 0;
    }
}

.dz-preview {
    position: relative;
    margin: 15px;
    @media (min-width: 1171px) {
        width: calc(33.33% - 30px);
    }
    @media (max-width: 1170px) and (min-width: 470px) {
        width: calc(50% - 30px);
    }
}

.dz-image img {
    width: 100%;
}

.dz-preview .dz-remove {
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 3;
}

.add-photo .dz-preview.dz-processing .dz-progress {
    opacity: 1;
    transition: all 0.2s linear;
}

.add-photo .dz-preview.dz-complete .dz-progress {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.add-photo .dz-preview:not(.dz-processing) .dz-progress {
    animation: pulse 6s ease infinite;
}

.add-photo .dz-preview .dz-progress {
    opacity: 1;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-top: -8px;
    width: 80px;
    margin-left: -40px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    overflow: hidden;
}

.add-photo .dz-preview .dz-progress .dz-upload {
    background: #333;
    background: linear-gradient(to bottom, #666666, #444444);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width 300ms ease-in-out;
}

.add-photo .dz-preview .dz-progress .dz-upload {
    background: #333;
    background: linear-gradient(to bottom, #666666, #444444);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width 300ms ease-in-out;
}

.add-photo__inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
    color: #acacac;
}

#editForm ul {
    @media (max-width: 1450px) {
        display: none;
    }
}

#editForm {
    .advertFiltersItemValue.fotos {
        @media (max-width: 943px) {
            padding: 20px !important;
        }
    }
}

.advertFiltersItemValue__mobile {
    display: none;
    width: 100%;
    @media (max-width: 1450px) {
        display: block;
    }
}

.legacy-isolated #advertFiltersItemsTable .parameterValue {
    padding: 9px 15px;
}

.legacy-isolated .padination {
    padding: 35px 0 0 !important;
}

.map-modal {
    iframe {
        border-radius: 0 0 12px 12px;
    }
}

.main>.legacy-isolated {
    margin-bottom: 60px;
    @media (max-width: 800px) {
        margin-bottom: 40px;
    }
}

.legacy-isolated .accountAdvert {
    &:last-child {
        margin-bottom: 0 !important;
    }
}

.add-row-item__content {
    .label.guarantee {
        filter: grayscale(1);
        cursor: pointer;
        transition: filter $trans;
        will-change: filter;
        +.label {
            margin-left: 30px;
        }
        input {
            display: none;
        }
        button {
            padding: 0;
            position: absolute;
            top: 50%;
            transform: translate(50%, -50%);
            right: 0;
            display: none;
        }
        &:hover {
            filter: grayscale(0.7);
            transition: filter $trans;
        }
        &.is-active {
            cursor: default;
            filter: grayscale(0) !important;
            transition: filter $trans;
            button {
                display: block;
            }
        }
    }
    &-guarantee {
        @media (max-width: 415px) {
            flex-direction: column;
            align-items: flex-start;
            .label {
                margin-left: 12px !important;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (min-width: 631px) {
    .legacy-isolated .accountOrderUserInfo ul li {
        &:last-child {
            order: 4;
            padding: 0 0 0 15px !important;
        }
    }
}

@media (max-width: 740px) {
    .card-note__close {
        &:before,
        &:after {
            width: 20px;
        }
    }
    .productNoteText button svg {
        transform: scale(.7);
    }
}

.legacy-isolated .accountAdvert.cube .inner {
    border-radius: 9px !important;
}

.legacy-isolated .accountAdvert.cube .productNoteText {
    position: relative;
    padding: 0 !important;
    >button {
        position: absolute;
        top: 10px;
        right: 5px;
        margin-left: 0;
        >svg {
            margin-right: 0;
        }
    }
}

.legacy-isolated .accountAdvertServiceButton.rateButton {
    .buttonServiceName {
        margin-right: 5px;
    }
}

.legacy-isolated .advert-category-adverts>* {
    &:nth-child(1) {
        margin-bottom: 30px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 992px) {
    .legacy-isolated .accountMenuItem span.numberNewItems {
        width: 28px !important;
        height: 28px !important;
        left: -28px !important;
        background-size: 100% 100%;
    }
}

.cookies-accepted .cookieAlertBlock {
    display: none;
}

.legacy-isolated .formParemetersItem.salonModalParameters .formParameter {
    @media (max-width: 992px) {
        display: block;
    }
}

.legacy-isolated .modal.fade.in {
    @media (max-width: 992px) {
        display: block !important;
    }
}

@media (min-width: 700px) {
    .modal-title br {
        display: none;
    }
}

@media (max-width: 576px) {
    .special-mobile-anun {
        width: 100%;
    }
    .categoryRateServices {
        .accountAdvertFunctions {
            flex-direction: row !important;
            width: 100% !important;
            flex-wrap: wrap !important;
            display: flex !important;
            .accountAdvertFunction {
                margin-right: 15px !important;
                margin-bottom: 10px !important;
            }
        }
    }
}

@media (max-width: 992px) {
    .legacy-isolated .dealerAccountRates .categoryRateDescription {
        margin-bottom: 15px !important;
    }
}

@media (max-width: 768px) {
    .legacy-isolated .dealerAccountRates .categoryRatePrice {
        margin-bottom: 15px !important;
    }
}