/** styles for header **/

body {
    @media (max-width: 550px) {
        padding-top: 95px;
        .banner.a1 {
            display: none;
        }
    }
}

.header-sub {
    height: 45px;
    background: #E7E7E7;
    @media (max-width: 1650px) {
        height: 35px;
    }
    &-wrap {
        display: flex;
        align-items: center;
        height: 100%;
        @media (max-width: 1170px) {
            justify-content: space-between;
        }
    }
    &__country {
        display: flex;
        align-items: center;
        margin-right: 40px;
        span {
            color: #222B2A;
            text-transform: uppercase;
            font-size: rem(13);
            margin-left: 14px;
            line-height: lh(13, 13);
        }
        img {
            width: 30px;
            height: 17px;
        }
    }
    &__city {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 40px;
        padding: 0;
        @media (max-width: 1170px) {
            margin-right: 0;
        }
        svg {
            width: 20px;
            height: 26px;
            fill: #616161;
            margin-right: 10px;
            transition: fill $trans;
            @media (max-width: 1650px) {
                width: 15px;
                height: 20px;
            }
        }
        span {
            color: $dgray;
            font-size: rem(13);
            line-height: lh(13, 13);
            text-transform: uppercase;
            transition: color $trans;
        }
        &:hover {
            svg {
                fill: $yellow;
                transition: fill $trans;
            }
            span {
                color: $yellow;
                transition: color $trans;
            }
        }
    }
    &-auth {
        margin-left: auto;
        display: flex;
        height: inherit;
        position: relative;
        @media (max-width: 1170px) {
            position: absolute;
            right: 117px;
            bottom: 16px;
            height: auto;
            z-index: 1;
            width: 24px;
            height: 26px;
        }
        a {
            font-size: rem(13);
            color: #222B2A;
            height: inherit;
            position: relative;
            display: flex;
            align-items: center;
            @media (max-width: 1170px) {
                font-size: 0;
                width: 24px;
                height: 26px;
                background: url('../img/svg/header-user.svg') no-repeat center;
                background-size: 100% 100%;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 1px;
                right: 0;
                height: 0;
                background-color: $orange;
                opacity: 0;
                transition: height $trans, opacity $trans;
                @media (max-width: 1170px) {
                    display: none;
                }
            }
            &:last-of-type {
                @media (max-width: 1170px) {
                    display: none;
                }
            }
            &:hover {
                &:before {
                    height: 2px;
                    opacity: 1;
                    transition: height $trans, opacity $trans;
                }
            }
        }
        &__login {
            margin-right: 14px;
            @media (max-width: 1170px) {
                margin-right: 0;
            }
        }
    }
}

.header {
    background-color: $white;
    height: 110px;
    position: relative;
    @media (max-width: 1650px) {
        height: 80px;
    }
    @media (max-width: 1170px) {
        height: 60px;
    }
    @media (max-width: 550px) {
        box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.05);
    }
    &-container {
        position: relative;
        @media (max-width: 550px) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            transition: transform $trans;
            z-index: 20;
            &.is-fixed {
                transform: translateY(-35px);
                transition: transform $trans;
                .header-new {
                    opacity: 1;
                    transition: opacity $trans;
                }
            }
        }
    }
    &-wrap {
        display: flex;
        align-items: center;
        height: inherit;
    }
    &__logo {
        width: 142px;
        height: 37px;
        background: url('../img/default/logo.svg') no-repeat center;
        background-size: 100% 100%;
        margin-right: 27px;
        @media (max-width: 1170px) {
            width: 125px;
            height: 33px;
        }
    }
    &-menu {
        margin-right: 30px;
        position: relative;
        z-index: 5;
        @media (max-width: 1170px) {
            order: 2;
            margin-right: 0px;
        }
        @media (max-width: 800px) {
            position: static;
        }
        &__btn {
            display: block;
            cursor: pointer;
            position: relative;
            z-index: 3;
            &:after {
                content: '';
                border-radius: 50%;
                width: 45px;
                height: 45px;
                background-color: rgba(#616161, .05);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                opacity: 0;
                transition: transform $trans, opacity $trans;
            }
            &:hover {
                &:after {
                    transform: translate(-50%, -50%) scale(1);
                    opacity: 1;
                    transition: transform $trans, opacity $trans;
                }
                span {
                    background-color: $yellow;
                    transition: $trans;
                }
            }
            span {
                display: block;
                position: relative;
                z-index: 1;
                height: 2px;
                width: 26px;
                margin-bottom: 4px;
                background-color: #616161;
                transition: $trans;
                @media (max-width: 1170px) {
                    background-color: #747474;
                }
                @media (max-width: 800px) {
                    width: 20px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &:nth-child(2) {
                    width: 22px;
                    @media (max-width: 800px) {
                        width: 18px;
                    }
                }
            }
        }
        &-nav {
            position: absolute;
            z-index: 2;
            left: -24px;
            top: -24px;
            display: flex;
            padding: 20px 30px 40px 90px;
            background: $white;
            border-radius: 20px;
            overflow: hidden;
            opacity: 0;
            pointer-events: none;
            transition: opacity $trans;
            @media (max-width: 1170px) {
                left: auto;
                right: -15px;
                top: -20px;
                max-width: calc(100vw - 10px);
                padding: 20px;
            }
            @media (max-width: 800px) {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                max-width: 100%;
                border-radius: 0;
                padding: 60px 20px 120px;
                max-height: 100vh;
                display: block;
                overflow-y: auto;
                overflow-x: hidden;
            }
            @media (max-width: 550px) {
                width: 100vw;
                height: 100vh;
            }
            &__item {
                width: 200px;
                margin-right: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;
                z-index: 1;
                @media (max-width: 1170px) {
                    width: 24vw;
                }
                @media (max-width: 800px) {
                    width: 100%;
                    margin-right: 0;
                    display: block;
                    position: static;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    display: block;
                }
                &--mobile {
                    display: none;
                    @media (max-width: 800px) {
                        display: block;
                        &:last-child {
                            .header-menu-nav__item-block {
                                padding-top: 0;
                            }
                        }
                        .header-menu-nav__item-block {
                            &-title {
                                border: none;
                                &:after {
                                    display: none;
                                }
                                a.title {
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
                &-block {
                    margin-top: 30px;
                    position: relative;
                    z-index: 1;
                    background-color: $white;
                    @media (max-width: 800px) {
                        margin-top: 0;
                        width: 100%;
                        padding-top: 15px;
                    }
                    &:first-child {
                        margin-top: 0 !important;
                    }
                    &:last-child {
                        margin-top: 15px;
                    }
                    &.is-opened {
                        .header-menu-nav__item-block {
                            &-list {
                                display: flex;
                            }
                            &-title {
                                border-color: transparent;
                                a.title {
                                    font-weight: bold;
                                }
                                &:after {
                                    background-image: url('../img/svg/chevron-up.svg');
                                }
                            }
                        }
                    }
                    &--publ,
                    &--real {
                        @media (max-width: 800px) {
                            display: none;
                        }
                    }
                    &-title {
                        margin-bottom: 14px;
                        @media (max-width: 800px) {
                            margin-bottom: 0;
                            height: 40px;
                            border-bottom: 1px solid #dfe1e5;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            position: relative;
                            &:after {
                                content: '';
                                position: absolute;
                                right: 12px;
                                width: 12px;
                                top: 50%;
                                transform: translateY(-50%);
                                height: 12px;
                                background: url('../img/svg/chevron-down.svg') no-repeat center;
                                background-size: 100% 100%;
                            }
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    &-list {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        @media (max-width: 800px) {
                            position: relative;
                            z-index: 1;
                            display: none;
                            padding: 20px 40px;
                            background-color: #E7E7E7;
                            width: calc(100% + 40px);
                            margin: 0 -20px;
                        }
                    }
                }
                a.title {
                    font-weight: bold;
                    font-size: rem(16);
                    line-height: lh(22, 16);
                    color: #222B2A;
                    transition: opacity $trans;
                    @media (max-width: 800px) {
                        font-size: rem(14);
                        font-weight: normal;
                    }
                    &:hover {
                        opacity: .7;
                        transition: opacity $trans;
                    }
                }
                a:not(.title) {
                    line-height: lh(18, 14);
                    color: #222B2A;
                    margin-bottom: 12px;
                    transition: color $trans, border-color $trans;
                    border-bottom: 1px solid transparent;
                    @media (max-width: 1170px) {
                        word-break: break-word;
                    }
                    &:hover {
                        color: $yellow;
                        border-color: $yellow;
                        transition: color $trans, border-color $trans;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                background: $white;
            }
        }
        &__layout {
            position: fixed;
            z-index: 4;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(#000, .1);
            opacity: 0;
            pointer-events: none;
            transition: opacity $trans;
        }
    }
    &-search {
        @media (max-width: 1170px) {
            order: 1;
            margin-left: auto;
            margin-right: 24px;
        }
        input#searchToggler {
            display: none;
            &:checked~.header-search-form {
                pointer-events: all;
                opacity: 1;
                transition: opacity $trans;
            }
        }
        &__btn {
            cursor: pointer;
            position: relative;
            display: block;
            svg {
                width: 18px;
                display: block;
                height: 18px;
                stroke: #616161;
                transition: stroke $trans;
                position: relative;
                z-index: 1;
                @media (max-width: 1170px) {
                    width: 23px;
                    height: 24px;
                    stroke: #747474;
                }
            }
            &:after {
                content: '';
                border-radius: 50%;
                width: 45px;
                height: 45px;
                background-color: rgba(#616161, .05);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                opacity: 0;
                transition: transform $trans, opacity $trans;
            }
            &:hover {
                &:after {
                    transform: translate(-50%, -50%) scale(1);
                    opacity: 1;
                    transition: transform $trans, opacity $trans;
                }
                svg {
                    stroke: $yellow;
                    transition: $trans;
                }
            }
        }
        &-form {
            position: absolute;
            z-index: 6;
            background-color: $white;
            width: calc(100% - 12.5vw - 142px);
            padding-left: 80px;
            overflow: hidden;
            top: 0;
            bottom: 0;
            left: calc(6.25vw + 142px);
            right: 6.25vw;
            display: flex;
            align-items: center;
            opacity: 0;
            pointer-events: none;
            transition: opacity $trans;
            @media (max-width: 1650px) {
                width: calc(100% - 192px);
                left: 167px;
                right: 25px;
            }
            @media (max-width: 1170px) {
                width: auto;
                right: 20px;
                left: 20px;
                padding-left: 0;
                &::after {
                    display: none;
                }
            }
            &:after {
                content: '';
                position: absolute;
                left: 30px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 46px;
                background: #E7E7E7;
            }
            &__submit {
                margin-right: 15px;
                cursor: pointer;
                svg {
                    width: 18px;
                    display: block;
                    height: 18px;
                    stroke: #616161;
                    transition: stroke $trans;
                    transform: scale(-1, 1);
                    @media (max-width: 1170px) {
                        width: 23px;
                        height: 24px;
                    }
                }
                &:hover {
                    svg {
                        stroke: $yellow;
                        transition: stroke $trans;
                    }
                }
            }
            &__input {
                margin-right: 20px;
                width: 36.5vw;
                background: transparent;
                border: none;
                font-size: rem(18);
                line-height: lh(25, 18);
                min-height: 35px;
                &::placeholder {
                    color: $gray;
                }
                &:focus {
                    outline: none;
                }
            }
            &__close {
                position: relative;
                margin-left: auto;
                width: 26px;
                height: 26px;
                cursor: pointer;
                &:after,
                &:before {
                    content: '';
                    width: 30px;
                    height: 2px;
                    background: #222B2A;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    transition: background-color $trans;
                }
                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
                &:hover {
                    &:after,
                    &:before {
                        background-color: $yellow;
                        transition: background-color $trans;
                    }
                }
            }
        }
    }
    &-nav {
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        @media (max-width: 1170px) {
            display: none;
        }
        &-item {
            margin-right: 3.5vw;
            position: relative;
            @media (min-width: 1920px) {
                margin-right: 68px;
            }
            &:last-child {
                margin-right: 0;
            }
            &__main {
                font-size: rem(16);
                line-height: lh(22, 16);
                color: #222B2A;
                position: relative;
                padding: 8px 0;
                min-height: 45px;
                display: flex;
                align-items: center;
                z-index: 4;
                transition: color $trans;
                &:before {
                    content: '';
                    z-index: -2;
                    position: absolute;
                    left: -15px;
                    top: 0;
                    right: -15px;
                    bottom: 0;
                    border-radius: 12px 12px 0px 0px;
                    background: $white;
                    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.05);
                }
                &:after {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    left: -15px;
                    right: -15px;
                    bottom: -10px;
                    height: 25px;
                    background-color: $white;
                }
                &:before,
                &:after {
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity $trans;
                }
            }
            &__sub {
                position: absolute;
                opacity: 0;
                pointer-events: none;
                z-index: 3;
                box-shadow: 0px 5px 32px rgba(5, 3, 3, 0.1);
                border-radius: 0px 12px 12px 12px;
                padding: 10px 20px 20px;
                background: $white;
                left: -15px;
                top: 45px;
                transition: opacity $trans;
                display: flex;
                align-items: flex-start;
                ul {
                    min-width: 120px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-right: 20px;
                    &:last-child {
                        margin-right: 0;
                    }
                    li a {
                        line-height: 2.14;
                        color: #222B2A;
                        white-space: nowrap;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &:hover {
                .header-nav-item__sub {
                    opacity: 1;
                    pointer-events: all;
                    transition: opacity $trans;
                }
                .header-nav-item__main {
                    color: $yellow;
                    transition: color $white;
                    &:before,
                    &:after {
                        opacity: 1;
                        transition: opacity $trans;
                    }
                }
            }
        }
    }
    &-new {
        padding: 6px 15px 6px 6px;
        border: 2px solid $yellow;
        border-radius: 22px;
        background-color: $white;
        display: flex;
        align-items: center;
        transition: background-color $trans;
        transform: translateY(-2px);
        z-index: 2;
        &.is-disabled {
            opacity: 0 !important;
            pointer-events: none !important;
            visibility: hidden !important;
        }
        @media (max-width: 1170px) {
            display: none;
        }
        &__plus {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            margin-right: 9px;
            border: 2px solid $yellow;
            position: relative;
            transition: border-color $trans;
            @media (max-width: 1170px) {
                display: none;
            }
            &:after,
            &:before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                width: 12px;
                height: 2px;
                background-color: $yellow;
                transform: translate(-50%, -50%);
                transition: background-color $trans;
            }
            &:after {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
        &__text {
            font-size: rem(13);
            line-height: lh(12, 13);
            text-transform: uppercase;
            color: #222B2A;
            transform: translateY(2px);
            @media (max-width: 1170px) {
                font-size: 0;
            }
        }
        &:hover {
            background-color: $yellow;
            transition: background-color $trans;
            .header-new__plus {
                border-color: #222B2A;
                transition: border-color $trans;
                &:before,
                &:after {
                    background-color: #222B2A;
                    transition: background-color $trans;
                }
            }
        }
    }
}

.header-new--mobile {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 30px;
    z-index: 100;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    background: url('../img/svg/plus-new.svg') no-repeat center;
    background-size: 100% 100%;
    @media (max-width: 1170px) {
        display: block;
        &.is-disabled {
            display: none;
        }
    }
}

input#menuToggler {
    display: none;
    &:checked~.header-container .header .header-wrap .header-menu .header-menu-nav {
        opacity: 1;
        pointer-events: all;
        transition: opacity $trans;
    }
    &:checked~.header-container .header .header-wrap .header-menu .header-menu__btn {
        span {
            background-color: $yellow;
            transition: $trans;
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(1) {
                transform: translateY(6px) rotate(45deg);
            }
            &:nth-child(3) {
                transform: translateY(-6px) rotate(-45deg);
            }
        }
        @media (max-width: 800px) {
            position: fixed;
            top: 20px;
            right: 20px;
            span {
                background-color: $black;
            }
        }
    }
    &:checked~.header-menu__layout {
        opacity: 1;
        pointer-events: all;
        transition: opacity $trans;
    }
    &:checked~.header-container {
        @media (max-width: 550px) {
            position: static !important;
            transition: 0s;
            &.is-fixed {
                transform: none;
                transition: 0s;
            }
        }
    }
}

.mobile-filter-opened {
    input#menuToggler {
        &:checked~.header-container {
            @media (max-width: 550px) {
                position: fixed !important;
                transition: 0s;
                &.is-fixed {
                    transform: none;
                    transition: 0s;
                }
            }
        }
    }
}