/** styles for feedback **/

.feedback {
    padding: 40px 0 70px;
    background-color: #F9F9F9;
    @media (max-width: 800px) {
        padding: 30px 0 50px;
    }
    &-title {
        margin-bottom: 50px;
        @media (max-width: 800px) {
            margin-bottom: 25px;
        }
    }
    &-form {
        max-width: 1313px;
        background: #FFFFFF;
        border-radius: 12px;
        padding: 60px 60px 70px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 800px) {
            flex-direction: column;
        }
        @media (max-width: 550px) {
            padding: 20px;
        }
        &-inputs {
            width: 320px;
            margin-right: 90px;
            @media (max-width: 800px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 25px;
            }
            .input-block {
                margin-bottom: 25px;
                position: relative;
                &:last-child {
                    margin-bottom: 0;
                }
                &:first-child {
                    &:before {
                        content: '';
                        z-index: 1;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 18px;
                        height: 18px;
                        background: url('../img/svg/user.svg') no-repeat center;
                        background-size: 100% 100%;
                    }
                }
                &:nth-child(2) {
                    &:before {
                        content: '';
                        z-index: 1;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 18px;
                        height: 15px;
                        background: url('../img/svg/mail.svg') no-repeat center;
                        background-size: 100% 100%;
                    }
                }
                &:last-child {
                    &:before {
                        content: '';
                        z-index: 1;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 18px;
                        height: 18px;
                        background: url('../img/svg/phone.svg') no-repeat center;
                        background-size: 100% 100%;
                    }
                }
            }
            input {
                height: 30px;
                position: relative;
                width: 100%;
                display: block;
                border: none;
                border-bottom: 1px solid #AAAAAA;
                padding-left: 35px;
                font-size: rem(16);
                line-height: lh(22, 16);
                color: #747474;
                transition: border-color $trans;
                &:last-child {
                    margin-bottom: 0;
                }
                &:focus {
                    border-color: $yellow;
                    outline: none;
                    transition: border-color $trans;
                }
            }
        }
        &__textarea {
            width: calc(100% - 410px);
            resize: none;
            padding: 20px;
            border: 1px solid #AAAAAA;
            border-radius: 2px;
            font-size: rem(16);
            line-height: lh(22, 16);
            color: #747474;
            transition: border-color $trans;
            @media (max-width: 800px) {
                width: 100%;
            }
            &:focus {
                outline: none;
                border-color: $yellow;
                transition: border-color $trans;
            }
        }
        &__check {
            margin-left: 410px;
            margin-top: 30px;
            display: flex;
            align-items: flex-start;
            cursor: pointer;
            @media (max-width: 800px) {
                margin-left: 0;
                width: 100%;
                margin-top: 25px;
            }
            input {
                margin-right: 10px;
            }
            span {
                font-size: rem(12);
                color: #494949;
                line-height: 25px;
                a {
                    text-decoration: underline;
                    color: $yellow;
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
        &__captcha {
            margin-left: auto;
            margin-top: 30px;
            max-width: 100%;
            @media (max-width: 800px) {
                margin-left: 0;
            }
        }
        &__submit {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            @media (max-width: 800px) {
                justify-content: center;
            }
            .def-btn {
                width: 300px;
                color: $white;
                justify-content: center;
                cursor: pointer;
                padding-top: 0;
                line-height: 1;
            }
        }
    }
}