.breadcrumbs {
    background: #E7E7E7;
    @media (max-width: 980px) {
        display: none;
    }
    &-wrap {
        padding: 5px 0;
    }
    &__link {
        color: #222B2A;
        line-height: 30px;
        margin-right: 7px;
        transition: color $trans;
        word-break: break-all;
        &:hover {
            color: $black;
            transition: color $trans;
        }
        &:after {
            content: '/';
            margin-left: 7px;
        }
        &:last-child {
            margin-right: 0;
            &:after {
                display: none;
            }
        }
    }
}