.blog {
    padding: 40px 0 140px;
    @media (max-width: 940px) {
        padding: 35px 0 120px;
    }
    @media (max-width: 630px) {
        padding: 25px 0 80px;
    }
    .category-pagination {
        margin-bottom: 0;
        margin-top: 60px;
        @media (max-width: 630px) {
            margin-top: 30px;
        }
    }
    &__title {
        margin-bottom: 16px;
        @media (max-width: 940px) {
            margin-bottom: 5px;
        }
    }
    &__subtitle {
        margin-bottom: 40px;
        font-size: rem(18);
        @media (max-width: 630px) {
            font-size: rem(14);
            margin-bottom: 20px;
        }
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px 34px;
        align-content: flex-start;
        @media (max-width: 1300px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px 25px;
        }
        @media (max-width: 940px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
        @media (max-width: 630px) {
            grid-template-columns: 1fr;
            gap: 15px;
        }
        &__item {
            background: $white;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            padding: 0 20px 30px;
            transition: transform $trans, box-shadow $trans, background-color $trans;
            @media (max-width: 940px) {
                padding-bottom: 25px;
            }
            @media (max-width: 630px) {
                padding: 0 15px 20px;
            }
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0px 5px 32px rgba(0, 0, 0, 0.19);
                background: #F9F9F9;
                @media (max-width: 630px) {
                    transform: translateY(0);
                }
                .blog-list__item-watch {
                    color: $yellow;
                    text-decoration: underline;
                }
            }
            &-preview {
                position: relative;
                margin: 0 -20px 25px;
                @media (max-width: 940px) {
                    margin-bottom: 20px;
                }
                @media (max-width: 630px) {
                    margin: 0 -15px 15px;
                }
                &:before {
                    content: '';
                    padding-bottom: 58.5%;
                    display: block;
                }
                img {
                    left: 50%;
                    top: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            &-title {
                font-weight: 900;
                font-size: rem(18);
                line-height: 120%;
                color: #222B2A;
                margin-bottom: 9px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                @media (max-width: 940px) {
                    font-size: rem(16);
                }
            }
            &-descr {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 6;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 24px;
                font-size: rem(16);
                line-height: lh(22, 16);
                @media (max-width: 940px) {
                    font-size: rem(14);
                    line-height: lh(18, 14);
                    margin-bottom: 18px;
                }
                @media (max-width: 630px) {
                    margin-bottom: 10px;
                }
            }
            &-manage {
                margin-top: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &-views {
                display: flex;
                align-items: center;
                img {
                    margin-right: 8px;
                }
                span {
                    font-size: rem(14);
                    color: #747474;
                }
            }
            &-watch {
                font-weight: 500;
                font-size: rem(16);
                text-decoration: underline;
                text-transform: uppercase;
                color: #ABABAB;
                transition: color $trans;
                @media (max-width: 630px) {
                    font-size: rem(14);
                }
            }
        }
    }
}