.info {
    padding: 40px 0 70px;
    background: #F9F9F9;
    &-title {
        margin-bottom: 30px;
        @media (max-width: 800px) {
            margin-bottom: 25px;
        }
    }
    &-tabs {
        display: flex;
        max-width: 1278px;
        @media (max-width: 800px) {
            flex-direction: column;
            position: relative;
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                width: 20px;
                height: 20px;
                z-index: 1;
                background: rgb(249, 249, 249);
            }
            &:after {
                right: -20px;
                background: linear-gradient(90deg, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 1) 100%);
            }
            &:before {
                left: -20px;
                background: linear-gradient(-90deg, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 1) 100%);
            }
            .tabs-triggers {
                display: flex;
                align-items: center;
                overflow-x: auto;
                overflow-y: hidden;
                margin: 0 -20px 20px;
                padding: 0 20px;
                justify-content: space-between;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
        &-inner {
            background: #FFFFFF;
            box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.12);
            width: calc(100% - 220px);
            position: relative;
            z-index: 1;
            padding: 30px 35px 50px;
            @media (max-width: 800px) {
                width: 100%;
                padding: 20px;
            }
        }
        &__trigger {
            padding: 20px 24px 0 0;
            margin-bottom: 18px;
            width: 220px;
            position: relative;
            cursor: pointer;
            display: block;
            &.is-active {
                span {
                    border-color: $yellow;
                    transition: border-color $trans;
                }
            }
            @media (max-width: 800px) {
                width: auto;
                padding: 0 20px 0 0;
                flex-shrink: 0;
                margin-bottom: 3px;
                &:last-child {
                    margin-bottom: 3px;
                }
            }
            @media (max-width: 630px) {
                margin-bottom: 3px;
                &:last-child {
                    margin-bottom: 3px;
                }
            }
            span {
                border-bottom: 2px solid transparent;
                transition: border-color $trans;
                padding-bottom: 2px;
                font-size: rem(16);
            }
            &:hover span {
                border-color: $yellow;
                transition: border-color $trans;
            }
            &:active span {
                border-color: $yellow;
                transition: border-color $trans;
            }
        }
        &-block {
            display: none;
            p {
                font-size: rem(16);
                line-height: lh(22, 16);
                margin-bottom: 15px;
            }
            a {
                text-decoration: underline;
                color: $yellow;
                &:hover {
                    color: $orange;
                }
            }
            &-accordions {
                margin-top: 30px;
                .accordion {
                    border-top: none;
                    &:first-child {
                        border-top: 1px solid #DFE1E5;
                    }
                    &--def {
                        .accordion {
                            &-head {
                                &:before {
                                    background-color: #DFE1E5;
                                }
                            }
                        }
                        &.is-opened {
                            .accordion {
                                &-head {
                                    &:before {
                                        background-color: #747474;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#block1 {
    &:target {
        display: block;
    }
}

#block2 {
    &:target {
        display: block;
    }
}

#block3 {
    &:target {
        display: block;
    }
}