<!DOCTYPE html>
<html lang="en">
@@include("../blocks/modules/header/head.html")

<body>

    <!-- begin of page -->
    <div class="wrapper">
        <!-- begin of top banner a1-->
        <div class="banner a1"></div>
        <!-- end of top banner a1-->

        <!-- begin of header -->
        @@include("../blocks/modules/header/header.html")
        <!-- end of header -->

        <!-- begin of main -->
        <main class="main page-text">

            <!-- breadcrumbs module -->
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")

            <!-- text page -->
            <div class="page-text-wrap limiter">
                <h1 class="page-text__title">Sobre nosotros</h1>
                <div class="page-text__content">
                    <p>
                        <span class="page-text__content-highlighted">Auto28.es</span> – No es solo un sitio para publicar anuncios para la venta o compra de vehículos, sino un agregador moderno con un filtro de búsqueda avanzado muy conveniente y el máximo
                        de información útil sobre los concesionarios y los servicios proporcionados por los talleres de coches. En Auto28 puede comprar o vender cualquier vehículos así como encontrar dónde reparar el coche o cambiar los neumáticos mucho
                        más rápido, sin perder el tiempo buscando los servicios necesarios en diferentes sitios.
                    </p>
                    <div class="page-text__content-about-first">
                        <div class="page-text__content-block">
                            <div class="page-text__content-block__title">Máxima comodidad para vendedores y compradores</div>
                            <div class="page-text__content-block__content">
                                <p>
                                    En nuestro agregador solo se colocan anuncios nuevos y actuales de vendedores de coches, motos, autocaravanas, industriales.
                                </p>
                                <p>Para la comodidad de los usuarios, Auto28 proporciona una sección separada para buscar un concesionario de coches por marca o nombre, vaya a la página del concesionario, puede encontrar las direcciones de los concesionarios
                                    y el horario de su trabajo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="page-text__content-about-second">
                        <div class="page-text__content-block">
                            <div class="page-text__content-block__title">Fácil búsqueda de taller de taller de <br> coches</div>
                            <div class="page-text__content-block__content">
                                <p>
                                    Para los propietarios de coches en Auto28 está disponible una búsqueda conveniente en el mapa del taller de coches más cercano, úselo para encontrar el taller de coches ubicado lo más conveniente posible para usted. Además, nuestro agregador proporciona
                                    una búsqueda de Taller de coches por marca y tipo de reparación.
                                </p>
                                <p>Al ir a la página personal del Taller de coches, puede familiarizarse con la lista completa de trabajos realizados, marcas de coches que se sirven en el Servicio, así como averiguar las horas de trabajo, también a través
                                    de la página personal, puede ponerse en contacto con los empleados de Taller de coches para aclarar cualquier pregunta.</p>
                            </div>
                        </div>
                    </div>
                    <div class="page-text__content-block__title">Nuestra misión y política</div>
                    <p>El mundo está cambiando rápidamente, especialmente los cambios activos están ocurriendo en el campo de IT. Para el desarrollo del mercado y la economía, incluso en el campo de la industria vehículos, se necesitan nuevas ideas y proyectos
                        de alta tecnología, y nuestra empresa lanzó tal proyecto.
                    </p>
                    <p>Nos mantenemos al día con los tiempos y no vamos a detenernos allí. El equipo de desarrollo escucha los deseos de los usuarios del agregador y está listo para ampliar y mejorar la funcionalidad Auto28.es. Nuestro objetivo es proporcionar
                        un Servicio que cumpla con los más altos requisitos.</p>
                    <p>Estamos comprometidos con una cooperación mutuamente beneficiosa a largo plazo con los Vendedores de vehículos, los Concesionarios y Talleres de coches. Brindamos a las personas una amplia funcionalidad para la venta exitosa y la compra
                        rentable de cualquier vehículos.</p>
                    <p>Nuestra política es Franqueza, Honestidad, Transparencia y Decencia. No aceptamos dobles raseros: Los precios de los productos promocionales que se muestran en nuestro sitio web son completos e incluyen el IVA.</p>
                    <div class="page-text__content-centered">
                        <h2 class="page-text__content-centered__title">¡Gracias por confiar en Auto28.es!</h2>
                        <div class="page-text__content-centered-block">
                            <div class="page-text__content-centered-block__text">Si tienes algún deseo o sugerencia, quieres hacer una pregunta o simplemente saludar, escríbenos aquí.
                            </div>
                            <a href="#" class="page-text__content-centered-block__btn def-btn">Escribenos</a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!-- end of main -->

        <!-- begin of footer -->
        @@include("../blocks/modules/footer/footer.html")
        <!-- end of footer -->

    </div>
    <!-- end of page -->

    <!-- begin of modals -->
    @@include("../blocks/modules/modals/modals.html")
    <!-- end of modals -->


    <!-- connecting scripts -->
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>

</body>

</html>