/** colors **/

:root {
    --white: #fff;
    --black: #000;
    --yellow: #F5AA01;
    --orange: #EB840B;
    --dark-gray: #222B2A;
    --light-gray: #383838;
    --gray: #ABABAB;
}

$white: var(--white);
$black: var(--black);
$yellow: var(--yellow);
$orange: var(--orange);
$dgray: var(--dark-gray);
$lgray: var(--light-gray);
$gray: var(--gray);

/** another vars **/

$trans: 275ms ease;