/** styles for components **/


/** titles **/

h1 {
    font-weight: 800;
    font-size: rem(36);
    line-height: lh(46, 36);
    @media (max-width: 1650px) {
        font-size: rem(28);
    }
    @media (max-width: 1170px) {
        font-size: rem(24);
    }
}

h2 {
    font-weight: 800;
    font-size: rem(36);
    line-height: lh(46, 36);
    @media (max-width: 1650px) {
        font-size: rem(28);
    }
    @media (max-width: 1170px) {
        font-size: rem(20);
    }
}

h3 {
    font-weight: 800;
    font-size: rem(32);
    line-height: lh(40, 32);
    @media (max-width: 1650px) {
        font-size: rem(24);
    }
    @media (max-width: 1170px) {
        font-size: rem(18);
    }
}

h5 {
    font-weight: bold;
    font-size: rem(16);
    line-height: lh(22, 16);
}


/** banners **/

@media (max-width: 992px) {
    .bannerMobileView {
        display: block;
    }
}

.bannerMobileView {
    display: none;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    border: 1px solid #EB840B;
    padding: 10px 20px;
}

.bannerMobileViewTitle {
    font-weight: 700;
    color: #222B2A;
    font-size: rem(17);
    line-height: lh(27, 17);
    img {
        max-width: 100%;
    }
}

.bannerMobileViewText {
    color: #222B2A;
    font-size: rem(13);
    line-height: lh(24, 13);
}

.banner {
    overflow: hidden;
    position: relative;
    &.a1 {
        width: 100%;
        height: 90px;
        @media (max-width: 992px) {
            display: none !important;
        }
    }
    &.c1,
    &.c2 {
        max-width: 970px;
        margin-left: auto;
        margin-right: auto;
        height: 90px;
        border-radius: 3px;
    }
    &.b2,
    &-default {
        width: 300px;
        height: 300px;
        border-radius: 3px;
        @media (max-width: 1650px) {
            width: 200px;
            height: 200px;
        }
    }
}


/** styles for tabs **/

.tabs-inner>* {
    display: none;
    &.is-active {
        display: block;
    }
}


/** checkboxes & radio btns **/

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    visibility: hidden;
    position: relative;
    cursor: pointer;
    &:after,
    &:before {
        content: '';
        visibility: visible;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &:before {
        width: 22px;
        height: 22px;
        background: $white;
        border: 1px solid #DFE1E5;
        border-radius: 2px;
    }
    &:after {
        width: 16px;
        height: 11px;
        background: url('../img/default/check.svg') no-repeat center;
        background-size: 100% 100%;
        opacity: 0;
    }
    &:checked {
        &:after {
            opacity: 1;
        }
        &:before {
            border-color: $orange;
        }
    }
    &.invert {
        &:checked {
            &:after {
                opacity: 1;
                filter: invert(100%) brightness(2);
            }
            &:before {
                background-color: $orange;
            }
        }
    }
}


/** inputs modules **/

.halfed-module {
    display: flex;
    >* {
        width: 50%;
        &:nth-child(1) {
            .choices__inner,
            >input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        &:nth-child(2) {
            .choices__inner,
            >input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: none;
            }
        }
    }
}

.input-module {
    input {
        width: 100%;
        height: 40px;
        background: $white;
        border: 1px solid #DFE1E5;
        border-radius: 2px;
        padding: 0 10px;
        font-size: rem(13);
        line-height: 1;
        color: $lgray;
        transition: border-color $trans;
        &:focus {
            outline: none;
            border: 1px solid $orange;
            transition: border-color $trans;
        }
    }
}


/** links & btns **/

.def-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: 700;
    font-size: rem(18);
    line-height: 1;
    display: flex;
    color: #000000;
    background-color: $yellow;
    border-radius: 3px;
    transition: filter $trans;
    @media (max-width: 1650px) {
        font-size: rem(16);
        height: 35px;
    }
    &:hover {
        filter: brightness(.9);
        transition: filter $trans;
    }
    &:focus,
    &:active {
        filter: brightness(1.1);
        transition: filter $trans;
    }
    &--gray {
        background-color: #DFE1E5;
        color: #747474;
    }
}


/** labels **/

.label {
    height: 30px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    padding: 2px 15px 0;
    font-size: rem(12);
    background: #E7E7E7;
    border-radius: 5px;
    &.guarantee {
        background-color: $white;
        border: 2px solid #F5AA01;
        border-radius: 0px 5px 5px 0px;
        position: relative;
        height: 29px;
        margin-left: 13px;
        font-weight: bold;
        padding-left: 23px;
        span {
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 31px;
            width: 26px;
            transform: translateX(-50%);
            background: url('../img/svg/guarantee/Vector.svg') no-repeat center;
            background-size: 100% 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: rem(22);
            line-height: 1.45;
            padding: 3px 0px 0 0;
            color: #222B2A;
        }
    }
}


/** styles for accordion **/

.accordion {
    &.is-opened {
        .accordion-body {
            height: unset;
            transition: height $trans;
        }
    }
    &-body {
        height: 0;
        overflow: hidden;
        transition: height $trans;
    }
    &--def {
        border-top: 1px solid #DFE1E5;
        border-bottom: 1px solid #DFE1E5;
        transition: padding $trans;
        .accordion-head {
            padding: 20px 0 18px 50px;
            font-size: rem(16);
            line-height: lh(22, 16);
            color: #222B2A;
            position: relative;
            transition: padding $trans;
            display: flex;
            width: 100%;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                top: 13px;
                left: 0;
                width: 29px;
                height: 29px;
                border-radius: 50%;
                background-color: $yellow;
                background-image: linear-gradient($black, $black), linear-gradient($black, $black);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 14px 1px, 1px 14px;
                transition: background-image $trans, background-color $trans;
            }
        }
        .accordion-body {
            padding-left: 50px;
            transition: padding $trans, height $trans;
            font-size: rem(16);
            line-height: lh(22, 16);
            color: #222B2A;
            @media (max-width: 550px) {
                padding-left: 0;
            }
        }
        &.is-opened {
            padding-bottom: 30px;
            transition: padding $trans;
            .accordion {
                &-head {
                    padding-bottom: 26px;
                    transition: padding $trans;
                    &:before {
                        background-color: #747474;
                        background-image: linear-gradient($white, $white), linear-gradient(transparent, transparent);
                        transition: background-image $trans, background-color $trans;
                    }
                }
            }
        }
    }
}

// select

/* custom select element styles */

.select-cover {
    position: relative;
    border: 1px solid #dfe1e5;
    padding: 11px 15px;
    padding-right: 25px;
    background: #fff;
    font-size: rem(13);
    color: $lgray;
    background-color: white !important;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACLSURBVHgBfZBNDYUwEITftgqeAyTUAkpoagAcAAqQQFFAUMCVIzgBAy2zhANZfubS7ew3zaTknGtCCJ33fv59yFprlFKZArwQUQ8j+YATZpjVM2SM2WC0OAdc1wd4jDHWaOE1m28hCbNH4jULoASQHksB3wJnqACY8wyYP6O67rUMoM6EWn+Mi4RZO45WVFBZ19w8AAAAAElFTkSuQmCC') no-repeat;
    cursor: pointer;
    background-position: top 16px right 8px;
    text-align: left !important;
}

.select-cover.active {
    border: 1px solid $orange;
}

.select-cover.selected {
    background-color: #FDEECC;
}

.select-value {
    overflow: hidden;
}

.select-value>.select-value-inner {
    width: 1000%;
}

.select-value>.select-value-inner>input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    padding: 0px;
}

.select-value>.select-value-inner>input:focus {
    outline: none;
}

.select-options {
    border: 1px solid #dfe1e5;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    cursor: pointer;
    display: none;
    background: #fff;
    z-index: 1;
    max-height: 250px;
    overflow: auto;
    overflow-x: hidden;
    margin-left: -1px;
    margin-right: -1px;
    z-index: 101;
    @media (max-width: 600px) {
        max-height: 140px;
    }
}

.select-cover.active .select-options {
    border: 1px solid $orange;
    border-top: none;
}

.select-option {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 15px;
    color: $lgray;
}

.select-option.active {
    background: url('../img/default/check.png') 15px 50% no-repeat;
}

.select-option.hide {
    display: none;
}

.select-option:hover,
.select-option:focus {
    background: url('../img/default/check-white.png') 15px 50% no-repeat #F5AA01;
}

.select-option-group {
    padding-left: 10px;
    padding-right: 10px;
}

.select-option-group-label {
    font-weight: bold;
    margin: 10px 0 5px;
}

.clear-selects {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 15px;
    color: #ABABAB;
    background: url('../img/default/select-cross.png') 15px 50% no-repeat;
}